

<footer>
  <div class="container">
      <div class="row">
          <div class="col-">
              <div class="copyright text-center">
                  <h4 style='color: white'>PTPro.fit &copy; Copyright 2020. All Rights Reserved.</h4>
                  <p style="font-size: x-small; color:#cccccc">PTPro.fit (Tidligere Trening.fit). Vedlikeholdes av Skyinformatics.biz - For utviklere og bidragsytere besøk  <a style="color:#a0a0a0" href="https://github.com/skyinformatics-biz">https://github.com/skyinformatics-biz</a> </p>
              </div>
          </div>
      </div>
  </div>
</footer>

<!-- End Content Wrapper-->

<!-- Bact to top Section-->
<!-- <div class="back-top">
  <a href="#"><i class="fa fa-angle-up"></i></a>
</div> -->
